// Normalize Styles
@import "node_modules/normalize.css/normalize";

// Import Modules
@import "../_modules/link/link";
@import "./charts.scss";
@import "node_modules/leaflet/dist/leaflet";
#map path {
  fill: #e64d1f;
  fill-opacity: 0.5;
  stroke-opacity: 0;
}
